<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
  <div>
    <h1>
      <strong>DASHBOARD DE LA APLICACIÓN</strong>
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita officiis accusamus incidunt inventore vel tenetur veritatis placeat! Natus suscipit tempora autem, maiores libero aut, laudantium itaque, quibusdam magni quas dolore.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laudantium laborum ducimus facilis esse sed cumque, itaque nostrum odio enim aliquam corporis accusantium ullam eos nam sint mollitia suscipit iste?
      Dolorem, obcaecati at nisi unde facilis libero quia corporis, necessitatibus exercitationem enim totam, nam neque? Molestias eos repellendus quae porro, quam fugit eligendi corporis quia eveniet ab natus impedit est consectetur. Eius debitis odio ipsa sint dolores quaerat, fugit sequi odit itaque ducimus repudiandae, neque non repellat error expedita possimus laboriosam earum voluptatibus? Nobis accusamus, consectetur natus officia explicabo sequi maxime voluptatibus consequatur inventore est eius.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eveniet quae officiis nulla nesciunt, repudiandae architecto? Provident, laborum modi. Fugiat illo quis minima consequatur laborum quia, rem nihil at eaque!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quibusdam in natus nemo magni ea blanditiis, cumque cum optio ad et aperiam consectetur harum illo laboriosam assumenda reprehenderit atque totam, eos esse rem accusantium! 
    </p>
    &nbsp;
  </div>

  </div>
</div>
