<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
    
<h1 class="text-center"><strong>FACTURACION LA PETITE & BISTRO</strong></h1>
&nbsp;
  <form class="grid grid-flow-col items-center">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">productos recibidos</label>
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Aqui se recibira un producto" >
          </div>
          <a href="" class="font-medium text-red-600 dark:text-red-500 hover:underline">Eliminar</a>
    </div>
  </form>
  <button type="submit" class="grid grid-flow-row text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Vender</button>




  </div>
</div>