<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
    <div>
      <h1>
        <strong>GRAFICAS DE LA APLICACIÓN</strong>
      </h1>
      &nbsp;
    </div>
    
    <strong>Venta de Productos</strong>
    <div>
      <canvas id="myChart" ></canvas>
    </div>
    &nbsp;
    <p>
      ______________________________________________________________________________________________________________________________________________
    </p>
    <strong>Productos por Categoria</strong>
    &nbsp;
    <div>
      <canvas id="myChart2" ></canvas>
    </div>
    <p>
      ______________________________________________________________________________________________________________________________________________
    </p>


  </div>
</div>