<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-b-gray-900 border-dashed rounded-lg dark:border-gray-700 mt-14">


        <section
            class="bg-center bg-no-repeat bg-[url('assets/docs/images/examples/LaPetiteyBistro.svg')] bg-gray-500 bg-blend-multiply">
            <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                    Sobre Nosotros</h1>

                <p class="mb-20 text-lg font-semibold text-white lg:text-xl sm:px-16 lg:px-432">
                    En 2020, en medio de la pandemia, dejé mi ciudad natal, San Pedro Sula, y llegué a Cuyamel junto
                    con mis hermanos. En casa de mi madre, surgió la idea de abrir un café. Sin embargo, notamos que la
                    gente buscaba comida, lo que nos llevó a aventurarnos en el mundo del buffet, a pesar de no
                    tener experiencia previa. A pesar de los desafíos iniciales, nuestros clientes se convirtieron en
                    leales seguidores, lo que nos permitió expandirnos desde la cocina de casa hasta un local en el
                    corazón
                    de Cuyamel. Mirando hacia el futuro, aspiramos a tener nuestro propio local independiente y ofrecer
                    un menú aún más sofisticado, sin perder nuestra esencia de atención al cliente excepcional y platos
                    deliciosos. En La Petite & Bistro, cada día es una oportunidad para crecer y servir a nuestra
                    comunidad. Agradecemos a nuestros clientes por su constante apoyo. ¡Esperamos seguir
                    compartiendo esta emocionante travesía con todos ustedes
                </p>
                <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">


                </div>
            </div>
        </section>



    </div>

</div>